In [35]:
from tabula import read_pdf
import pandas as pd
import numpy as np
import math

# Cleaning

In [3]:
df = read_pdf("SUFF06_2015-Superior-Court-Over-1000_Redacted.pdf",pages='all')

In [12]:
#extract dataframe
df = df[0]

In [14]:
#set col names to first row
df.columns = df.iloc[0]

In [19]:
#drop col name row
df = df.drop(0, axis=0)

In [42]:
#set to unique col names
cols = []
count = 0
for c in df.columns:
    if type(c) != str:
        if np.isnan(c):
            cols.append("Nan"+str(count))
            count += 1
    else:
        cols.append(c)

In [44]:
df.columns = cols

In [61]:
#drop all nan columns with no values
for c in df.columns:
    if "Nan" in c:
        if df[c].isnull().all():
            df = df.drop(c, axis=1)

In [65]:
#drop irrelevant columns that are redacted
df = df.drop(columns=['ADDITIONAL PERSONS NOTIFIED'])

In [69]:
cols = df.columns

In [85]:
df = df.fillna('')
df['NAME; & {police report #}'] = df['Nan1'].astype(str) + df['NAME; & {police report #}'].astype(str)

In [87]:
df = df.drop(columns=['Nan1'])

In [89]:
df['PD'] = df['Nan3'].astype(str) + df['PD'].astype(str)
df = df.drop(columns=['Nan3'])

In [91]:
df = df.drop(columns=['Nan6', "REMIT RECD.", 'DFJ', 'Nan4', 'Nan5', 'Initial', 'Nan7',
                      'STATUS', 'MV STATUS', 'Nan8'])

In [109]:
df['NAME; & {police report #}'] = df['NAME; & {police report #}'].apply(lambda x: x.strip("nan"))

In [118]:
df['NAME; & {police report #}'] = df['NAME; & {police report #}'].apply(lambda x: ((x.replace("]", ",")).rstrip(",")).replace("[", ""))

In [119]:
df

,SUCV#,AMT.,M/V (reg#),NAME; & {police report #},PD,DATE,DATE FILED,Req. of DF,TOTAL RECD REMIT REQ.
1,2015-0043F,"$3,060.00",,"142046501,142046501",BPD,11/6/2014,1/7/2015,2/13/2015,"$1,531.04"
2,2015-0044G,"$4,646.00",,"2014-0A5-008304,2014-0A5-008304",Mass State Police - Revere,11/5/2014,1/7/2015,2/25/2015,"$2,323.00"
3,2015-0045H,"$7,245.00",,"2014-0A5-008865,2014-0A5-008865",Mass State Police - Revere,11/29/2014,1/7/2015,2/25/2015,"$3,622.50"
4,2015-0063A,"$1,076.00",,"142048893,142048893",BPD,11/14/2014,1/8/2015,3/25/2015,$538.52
5,2015-0064B,"$2,710.00",,142051353,BPD,11/22/2014,1/8/2015,,
...,...,...,...,...,...,...,...,...,...
165,2015-3157A,"$1,520.00",,"152072946,152072946",BPD,9/2/2015,10/19/2015,,
166,2015-3175D,"$1,409.00",,152064015,BPD,8/3/2015,10/20/2015,,
167,2015-3176E,"$29,732.00",,2015-0A4-005521,Mass State Police - Medford,9/1/2015,10/20/2015,,
168,2015-3185E,"$3,430.00",,2015-0E4-008224,Mass State Police - Tunnels,9/29/2015,10/21/2015,,
169,2015-3186C,"$12,440.00",,"152082594,152082594",BPD,10/4/2015,10/21/2015,,

In [120]:
df.to_csv("2015_trial_clean.csv")