In [7]:
import pandas as pd

In [34]:
import sqlalchemy as db

#connect to db, will be different for real db
engine = db.create_engine("sqlite://///Users/danielskahill/Documents/SYS2/XC 410/test.db", echo=True)
connection = engine.connect()

In [35]:
from sqlalchemy import text

with engine.connect() as conn:
    result = conn.execute(text("select 'hello world'"))
    print(result.all())

2023-04-18 18:49:32,453 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-04-18 18:49:32,459 INFO sqlalchemy.engine.Engine select 'hello world'
2023-04-18 18:49:32,465 INFO sqlalchemy.engine.Engine [generated in 0.01258s] ()
[('hello world',)]
2023-04-18 18:49:32,468 INFO sqlalchemy.engine.Engine ROLLBACK

In [9]:
df = pd.read_csv("2015_trial_clean.csv")

In [36]:
df.to_sql('Forfeiture_2015', engine)

2023-04-18 18:49:41,841 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-04-18 18:49:41,842 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Forfeiture_2015")
2023-04-18 18:49:41,842 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-04-18 18:49:41,844 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("Forfeiture_2015")
2023-04-18 18:49:41,844 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-04-18 18:49:41,845 INFO sqlalchemy.engine.Engine ROLLBACK
2023-04-18 18:49:41,846 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-04-18 18:49:41,847 INFO sqlalchemy.engine.Engine
CREATE TABLE "Forfeiture_2015" (
	"index" BIGINT,
	"Unnamed: 0" BIGINT,
	"SUCV#" TEXT,
	"AMT." TEXT,
	"M/V (reg#)" TEXT,
	"NAME; & {police report #}" TEXT,
	"PD" TEXT,
	"DATE" TEXT,
	"DATE FILED" TEXT,
	"Req. of DF" TEXT,
	"TOTAL RECD REMIT REQ." TEXT
)


2023-04-18 18:49:41,848 INFO sqlalchemy.engine.Engine [no key 0.00077s] ()
2023-04-18 18:49:41,851 INFO sqlalchemy.engine.Engine CREATE INDEX "ix_Forfeiture_2015_index" ON "Forfeiture_2015" ("index")
2023-04-18 18:49:41,851 INFO sqlalchemy.engine.Engine [no key 0.00054s] ()
2023-04-18 18:49:41,852 INFO sqlalchemy.engine.Engine COMMIT
2023-04-18 18:49:41,855 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-04-18 18:49:41,857 INFO sqlalchemy.engine.Engine INSERT INTO "Forfeiture_2015" ("index", "Unnamed: 0", "SUCV#", "AMT.", "M/V (reg#)", "NAME; & {police report #}", "PD", "DATE", "DATE FILED", "Req. of DF", "TOTAL RECD REMIT REQ.") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2023-04-18 18:49:41,857 INFO sqlalchemy.engine.Engine [generated in 0.00114s] [(0, 1, '2015-0043F', '$3,060.00', None, '142046501,142046501', 'BPD', '11/6/2014', '1/7/2015', '2/13/2015', '$1,531.04'), (1, 2, '2015-0044G', '$4,646.00', None, '2014-0A5-008304,2014-0A5-008304', 'Mass State Police - Revere', '11/5/2014', '1/7/2015', '2/25/2015', '$2,323.00'), (2, 3, '2015-0045H', '$7,245.00', None, '2014-0A5-008865,2014-0A5-008865', 'Mass State Police - Revere', '11/29/2014', '1/7/2015', '2/25/2015', '$3,622.50'), (3, 4, '2015-0063A', '$1,076.00', None, '142048893,142048893', 'BPD', '11/14/2014', '1/8/2015', '3/25/2015', '$538.52'), (4, 5, '2015-0064B', '$2,710.00', None, '142051353', 'BPD', '11/22/2014', '1/8/2015', None, None), (5, 6, '2015-0065C', '$1,242.00', None, '142048239,142048239', 'BPD', '11/12/2014', '1/8/2015', '3/25/2015', '$621.60'), (6, 7, '2015-0117E', '$5,500.00', None, '2014-0E4-010428,2014-0E4-010428', 'Mass State Police - Tunnels', '12/10/2014', '1/13/2015', '3/25/2015', '$2,750.00'), (7, 8, '2015-0141D', '$3,336.00', None, '142051895 / 142051825,142051895 / 142051825', 'BPD', '11/24/2014', '1/15/2015', '7/13/2015', '$1,671.17')  ... displaying 10 of 169 total bound parameter sets ...  (167, 168, '2015-3185E', '$3,430.00', None, '2015-0E4-008224', 'Mass State Police - Tunnels', '9/29/2015', '10/21/2015', None, None), (168, 169, '2015-3186C', '$12,440.00', None, '152082594,152082594', 'BPD', '10/4/2015', '10/21/2015', None, None)]
2023-04-18 18:49:41,859 INFO sqlalchemy.engine.Engine COMMIT
2023-04-18 18:49:41,861 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-04-18 18:49:41,861 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2023-04-18 18:49:41,861 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-04-18 18:49:41,862 INFO sqlalchemy.engine.Engine ROLLBACK

169

In [62]:
with engine.connect() as conn:
    result = conn.execute(text("SELECT `SUCV#`, `AMT.` FROM Forfeiture_2015"))
    for row in result:
        #print(row)
        print(f"{row[0]} \t {row[1]}")

2023-04-18 18:56:43,427 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-04-18 18:56:43,432 INFO sqlalchemy.engine.Engine SELECT `SUCV#`, `AMT.` FROM Forfeiture_2015
2023-04-18 18:56:43,434 INFO sqlalchemy.engine.Engine [cached since 47.91s ago] ()
2015-0043F 	 $3,060.00
2015-0044G 	 $4,646.00
2015-0045H 	 $7,245.00
2015-0063A 	 $1,076.00
2015-0064B 	 $2,710.00
2015-0065C 	 $1,242.00
2015-0117E 	 $5,500.00
2015-0141D 	 $3,336.00
2015-0142E 	 $3,600.00
2015-0155H 	 $6,707.00
2015-0183C 	 $31,778.00
2015-0411E 	 $2,158.00
2015-0412F 	 $3,259.00
2015-0413G 	 $2,740.00
2015-0414H 	 $3,592.00
2015-0491B 	 $0.00
2015-0496G 	 $1,931.00
2015-0525D 	 $4,714.00
2015-0546A 	 $6,707.00
2015-0571A 	 $1,125.75
2015-0572B 	 $2,975.00
2015-0593G 	 $4,255.00
2015-0607C 	 $2,165.00
2015-0635G 	 $11,640.00
2015-0636H 	 $1,236.00
2015-0675D 	 $14,627.00
2015-0676E 	 $9,170.00
2015-0791G 	 $1,403.00
2015-0792H 	 $27,000.00
2015-0793A 	 $1,000.00
2015-0860F 	 $2,165.00
2015-0861G 	 $20,893.00
2015-0862H 	 $5,161.00
2015-0863A 	 $2,480.00
2015-0864B 	 $1,980.00
2015-0926E 	 $1,037.00
2015-0952G 	 $34,712.00
2015-1006B 	 $2,254.00
2015-1007C 	 $2,246.00
2015-1019E 	 $1,300.00
2015-1020F 	 $1,403.00
2015-1021G 	 $1,101.00
2015-1037G 	 $1,157.00
2015-1038H 	 $2,160.00
2015-1051D 	 $10,091.00
2015-1115B 	 $1,746.00
2015-1133C 	 $1,617.00
2015-1142D 	 $1,635.00
2015-1183E 	 $1,460.00
2015-1260G 	 $10,240.00
2015-1269H 	 $1,107.00
2015-1278A 	 $1,818.00
2015-1292G 	 $1,029.00
2015-1294A 	 $2,093.00
2015-1320C 	 $34,385.00
2015-1321D 	 $1,333.00
2015-1382F 	 $23,981.00
2015-1398F 	 $22,496.00
None 	 None
2015-1558G 	 $78,587.00
None 	 None
None 	 None
2015-1605B 	 $5,920.00
2015-1620A 	 $19,600.00
2015-1662G 	 $3,850.00
2015-1663H 	 $2,342.45
2015-1664A 	 $4,193.00
2015-1690B 	 $1,935.00
2015-1691C 	 $2,715.00
2015-1713A 	 $1,296.00
2015-1714B 	 $3,186.00
2015-1743E 	 $7,874.00
2015-1744F 	 $6,117.00
2015-1790D 	 $1,425.00
2015-1791E 	 $1,319.00
2015-1823C 	 $1,500.00
None 	 None
None 	 None
2015-1824D 	 $9,292.00
2015-1843F 	 $2,071.00
2015-1844G 	 $1,682.00
2015-1890A 	 $11,271.00
2015-1891B 	 $12,007.00
2015-1929G 	 $3,525.00
2015-1930H 	 $2,295.00
2015-1964D 	 $1,300.00
2015-1965E 	 $1,095.00
2015-1996D 	 $11,248.00
2015-1997E 	 $3,780.00
2015-1998F 	 $2,782.00
2015-2023G 	 $32,105.00
2015-2068B 	 $10,204.00
2015-2069C 	 $1,019.00
2015-2070D 	 $4,090.00
2015-2071E 	 $3,763.00
2015-2105F 	 $6,621.00
2015-2142B 	 $2,419.00
2015-2177B 	 $7,839.00
2015-2178C 	 $1,202.00
2015-2197F 	 $29,000.00
2015-2206F 	 $1,460.00
2015-2221E 	 $2,327.00
2015-2236D 	 $1,221.00
2015-2262E 	 $2,542.00
2015-2273H 	 $1,078.00
2015-2278E 	 $1,515.00
2015-2291B 	 $2,428.00
2015-2333C 	 $4,452.00
2015-2332B 	 $10,000.00
2015-2358D 	 $1,315.00
2015-2357C 	 $4,409.00
2015-2366C 	 $1,419.00
2015-2367D 	 $1,387.00
2015-2381B 	 $2,810.00
2015-2393E 	 $5,863.00
2015-2407C 	 $2,964.00
2015-2408D 	 $15,000.00
2015-2429B 	 $3,870.00
2015-2437A 	 $3,735.00
2015-2436H 	 $1,689.00
2015-2454A 	 $75,000.00
2015-2453H 	 $1,290.00
2015-2461F 	 $13,370.00
2015-2496H 	 $3,592.00
2015-2497A 	 $1,400.00
2015-2512G 	 $2,860.00
2015-2513H 	 $3,982.00
2015-2539B 	 $1,189.00
2015-2632G 	 $2,430.00
2015-2690F 	 $23,170.00
2015-2691G 	 $15,852.00
2015-2692H 	 $1,234.00
2015-2693A 	 $1,044.00
2015-2710H 	 $3,917.00
2015-2711A 	 $1,203.00
2015-2712B 	 $5,057.00
2015-2713C 	 $1,270.00
2015-2730D 	 $1,104.00
2015-2731E 	 $1,479.00
2015-2732F 	 $4,050.00
2015-2733G 	 $1,419.00
2015-2746D 	 $188,885.00
2015-2747E 	 $1,754.00
2015-2748F 	 $1,639.00
2015-2749G 	 $1,551.00
2015-2750H 	 $1,033.00
2015-2781G 	 $75.00
2015-2791A 	 $1,358.00
2015-2792B 	 $1,080.00
2015-2793C 	 $3,031.00
2015-2855F 	 $12,679.27
15-84CV02931 	 $477.00
2015-2958 	 $1,700.00
2015-2959 	 $647.00
15-84CV03005 	 $620.00
2015-3016 	 $4,635.00
2015-3037 	 $1,630.00
2015-3066G 	 $1,265.00
2015-3067H 	 $3,020.00
2015-3082G 	 $19,900.00
2015-3083H 	 $3,428.00
2015-3122E 	 $126,708.00
2015-3136H 	 $3,496.00
2015-3142 	 $1,391.00
2015-3157A 	 $1,520.00
2015-3175D 	 $1,409.00
2015-3176E 	 $29,732.00
2015-3185E 	 $3,430.00
2015-3186C 	 $12,440.00
2023-04-18 18:56:43,439 INFO sqlalchemy.engine.Engine ROLLBACK

In [38]:
df

,Unnamed: 0,SUCV#,AMT.,M/V (reg#),NAME; & {police report #},PD,DATE,DATE FILED,Req. of DF,TOTAL RECD REMIT REQ.
0,1,2015-0043F,"$3,060.00",NaN,"142046501,142046501",BPD,11/6/2014,1/7/2015,2/13/2015,"$1,531.04"
1,2,2015-0044G,"$4,646.00",NaN,"2014-0A5-008304,2014-0A5-008304",Mass State Police - Revere,11/5/2014,1/7/2015,2/25/2015,"$2,323.00"
2,3,2015-0045H,"$7,245.00",NaN,"2014-0A5-008865,2014-0A5-008865",Mass State Police - Revere,11/29/2014,1/7/2015,2/25/2015,"$3,622.50"
3,4,2015-0063A,"$1,076.00",NaN,"142048893,142048893",BPD,11/14/2014,1/8/2015,3/25/2015,$538.52
4,5,2015-0064B,"$2,710.00",NaN,142051353,BPD,11/22/2014,1/8/2015,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
164,165,2015-3157A,"$1,520.00",NaN,"152072946,152072946",BPD,9/2/2015,10/19/2015,NaN,NaN
165,166,2015-3175D,"$1,409.00",NaN,152064015,BPD,8/3/2015,10/20/2015,NaN,NaN
166,167,2015-3176E,"$29,732.00",NaN,2015-0A4-005521,Mass State Police - Medford,9/1/2015,10/20/2015,NaN,NaN
167,168,2015-3185E,"$3,430.00",NaN,2015-0E4-008224,Mass State Police - Tunnels,9/29/2015,10/21/2015,NaN,NaN
168,169,2015-3186C,"$12,440.00",NaN,"152082594,152082594",BPD,10/4/2015,10/21/2015,NaN,NaN

In [63]:
csv = pd.read_csv("download.csv")

In [65]:
csv.to_json("forfeiture_json.json")

In [70]:
import csv
import json
 
# Function to convert a CSV to JSON
# Takes the file paths as arguments
def make_json(csvFilePath, jsonFilePath):
     
    # create a dictionary
    data = {}
     
    # Open a csv reader called DictReader
    with open(csvFilePath, encoding='utf-8') as csvf:
        csvReader = csv.DictReader(csvf)
         
        # Convert each row into a dictionary
        # and add it to data
        for rows in csvReader:
            key = rows['case_number']
            data[key] = rows
 
    with open(jsonFilePath, 'w', encoding='utf-8') as jsonf:
        jsonf.write(json.dumps(data, indent=4))

In [71]:
# Call the make_json function
make_json("download.csv", "forfeiture.json")